/* 
    Created on : Jan 19, 2017, 2:04:35 PM
    Author     : Frederick Javalera
*/
body
{
    font-family: "Noto Sans","Raleway", Arial, sans-serif;
    background-color: #FDF5E6;
}

form
{
    background-color: #FDF5E6;
}

/*row that minions image is in*/
.w3-row
{
    background-color: #404040;
    padding-top: 35px;
    padding-bottom: 45px;
    height: 436px;
    width: 100%;
}

/*border color around buttons*/
header.w3-container.w3-xlarge.w3-padding-18
{
    background-color: #607D8B;
    width: 100%;
}

/*footer with form*/
#friendsAndFamily
{   
    /*sand*/
    background-color: #FDF5E6;
}

/*copyright info at very bottom of page*/
#copyright
{
    background-color: #607D8B;
    height: 30px;
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    position: relative;
}

/*submit button*/
#submit
{
    border-radius: 5px;
}

*
{
    font-family: 'Noto Sans', sans-serif !important;
}

#friendsPic
{
    height: 400px;
    width: 625px;
}

.form-group.label
{
    width: 30%;
}

.form-group.input
{
    width: 70%;
}

.form-group
{
    width: 23%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

#tan
{
    text-align: left;
    width: 100%;
    background-color: #FDF5E6;
}

.col-lg-3
{
    float: left;
    width: 100%;
}

.btn
{
    width: 33%;
    color: #404040;
}

.btn-group
{
    padding-left: 14px;
    width: 100%;
    margin: 5px;
    padding: 40px;
}

#footerContainer
{
    background-color: #FDF5E6;
    width: 100%;
    text-align: center;
}

#state, #sex, #relationship
{
    width: 100%;
}

#span
{
    font-size: 24px; 
    color: blue;
}

table
{
    text-align: left;
}